.sidebar {
  display: flex;
  flex-direction: column;

  position: fixed;
  left: 0;
  top: 0;

  width: 250px;
  height: 100vh;

  border: 1px solid black;

  background-color: green;
  background: url(https://camouf.ru/local/templates/mibazarov/components/bitrix/menu/aside_multimenu/derevo.jpg)
    no-repeat;
  background-size: cover;
}

.sidebar::after {
  position: absolute;
  content: "";
  width: 250px;
  height: 100vh;
  background: rgba(52, 120, 0, 0.78) !important;
}

.sidebar__nav,
.sidebar__contacts {
  font-family: "ROBOTO";
  color: white;
  letter-spacing: 1px;
  font-size: 14px;
  font-weight: 600;
  z-index: 20;
}

.sidebar__nav {
  border-bottom: 1px dashed rgba(190, 190, 190, 0.7);
  padding: 5px 0 10px 0;
  background: rgba(0, 0, 0, 0.3);
}

.nav__menu {
  list-style: none;
}

.nav__element {
  height: 33px;
  margin: 0 0 3px 0;
  padding: 5px 0 1px 30px;
}

.nav__element span {
  cursor: pointer;
  display: block;
  height: 100%;
}

.nav__element span::after {
  margin-top: 5px;
  content: "";
  width: 0px;
  height: 3px;
  background-color: aliceblue;
}

.nav__element span:hover::after {
  display: block;
  transition: 0.15s ease-out all;
  width: 40px;
}

.sidebar__nav .nav__element.active span::after {
  content: "";
  display: block;
  width: 40px;
  height: 3px;
  background-color: #7a8e9a;
}

.sidebar__contacts {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 130px;
  padding: 23px 0 0 30px;
  font-size: 13px;
  font-weight: normal;
}

.contact__source {
  color: #ccc;
}

.sidebar__button {
  height: 45px;
  width: 180px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #e2ae00;
  color: #354550;
  border-radius: 50px;
  font-size: 14px;
  cursor: pointer;
}

.logo__img,
.sidebar__logo {
  background-color: none;
  width: 250px;
  z-index: 25;
}
